/* Global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #232526;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1.7rem;
  margin-top: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

nav ul {
  display: flex;
  color: white;
}

nav ul li {
  margin: 0 1rem;
  font-size: 1.2rem;
}

h1 {
  font-size: 3rem;
  color: #dad8d8;
}

h2 {
  color: #1a1a1a;
  font-size: 2rem;
  margin-bottom: 1.7rem;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

button {
  border-radius: 5px;
  color: #000;
  border: 2px solid #0000000a;
  box-shadow: #00000035 1.5px 1.5px 2px 1px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > dl > dt {
  margin: 0.8rem;
}

table {
  border-collapse: collapse;
}

/* classes */
.create-btn {
  display: flex;
  background-color: rgba(85, 219, 85, 0.732);
  margin-top: 0.8rem;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.remove-btn {
  background-color: rgba(249, 72, 72, 0.743);
  padding: 0.25rem 0.6rem;
  font-size: 0.9rem;
}

.list-div {
  background-color: #8cada7;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  text-align: center;
}

.list-div table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  table-layout: fixed;
}

.list-div table td:nth-child(1) {
  padding: 0.5rem;
  text-align: left;
}

.list-div table td:nth-child(2) {
  padding: 0.5rem;
  text-align: center;
}

.list-div table td:nth-child(3) {
  padding: 0.5rem;
  text-align: right;
}

.form-adder {
  padding: 1rem;
  margin: auto;
  border-radius: 10px;
}

dl {
  display: flex;
  flex-direction: column;
  align-items: center;
}

dl input {
  padding: 0.4rem;
  border-radius: 5px;
  border: 1px solid #0000006d;
}

div.list-div ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-width: 720px;
}

.global-wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

select {
  padding: 0.4rem;
  border-radius: 5px;
  border: 1px solid #00000069;
}

.div-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8cada7;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.div-index ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  min-width: 720px;
}

.btn-index {
  background-color: #a5d0a8;
  padding: 1rem;
}

.btn-index a {
  color: #000;
}
.btn-index:hover {
  background-color: #b5e1b8;
}

#index-header {
  justify-content: center;
}

#adder {
  display: flex;
  flex-direction: row;
  background-color: #8cada7;
  border-radius: 10px;
}

.em-2 {
  color: #f2f4cb;
}

.em-1 {
  color: #f2f4cb;
}
