{{page-title "Home"}}
<div class="global-wrapper">
  <header id="index-header">
    <h1>Recipe 2 Restaurant</h1>

  </header>
  <div class="div-index">
    <h2>What do you want to do?</h2>
    <ul>
      <button class="btn-index" type="button"><li><a href="/restaurant">Add
            Restaurants</a></li></button>
      <button class="btn-index" type="button"><li><a href="/recipe">Link Recipes
            To Restaurants</a></li></button>
    </ul>
  </div>
</div>